<!doctype html>

<title>Funny stuff</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <a style="text-decoration:none" href="{{ url_for('show_posts') }}"><h1>Funny stuff</h1></a>
  <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
      <a href="{{ url_for('sign_up') }}">sign up</a>
    {% else %}
      <a href="{{ url_for('show_posts_starred') }}">starred</a>
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% if errors %}
    {% for error in errors %}
      <p class=error>{{ error }}
    {% endfor %}
  {% endif %}
  {% block body %}
  {% endblock %}
</div>
